<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Rota2.LoggingProxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Rota2.LoggingProxy.Properties.Settings>
            <setting name="Rota2_LoggingProxy_Rota2_LoggingProxy_LogService"
                serializeAs="String">
                <value>http://10.70.47.125:8036/LogService.asmx</value>
            </setting>
        </Rota2.LoggingProxy.Properties.Settings>
    </applicationSettings>
</configuration>